@plugin '@tailwindcss/typography';
@import 'tailwindcss';

@source inline('{h-{0...96}}');
@source inline('{bg-light-bronze-{50,{100..900..100},950},{group-hover:,}text-light-bronze-{50,{100..900..100},950}}');
@source inline('{bg-cornsilk-{50,{100..900..100},950},{group-hover:,}text-cornsilk-{50,{100..900..100},950}}');
@source inline('{bg-dry-sage-{50,{100..900..100},950},{group-hover:,}text-dry-sage-{50,{100..900..100},950}}');

@theme {
	--font-sans: 'Inter', system-ui, sans-serif;

	--color-dry-sage-50: #f3f7ee;
	--color-dry-sage-100: #e5edda;
	--color-dry-sage-200: #cddeb8;
	--color-dry-sage-300: #acc88e;
	--color-dry-sage-400: #99b978;
	--color-dry-sage-500: #71964c;
	--color-dry-sage-600: #56763a;
	--color-dry-sage-700: #445c2f;
	--color-dry-sage-800: #384a2a;
	--color-dry-sage-900: #324027;
	--color-dry-sage-950: #182211;

	/*--color-cornsilk-50: #fefdf9;
	--color-cornsilk-100: #fcfbf2;
	--color-cornsilk-200: #f8f7e6;
	--color-cornsilk-300: #f4f2d1;
	--color-cornsilk-400: #eeeac1;
	--color-cornsilk-500: #e7e3b3;
	--color-cornsilk-600: #d4d19f;
	--color-cornsilk-700: #c1bf8e;
	--color-cornsilk-800: #afae7d;
	--color-cornsilk-900: #9c9b6d;*/

	--color-cornsilk-50: #faf9f0;
	--color-cornsilk-100: #f1efd4;
	--color-cornsilk-200: #e7e3b3;
	--color-cornsilk-300: #d4ca75;
	--color-cornsilk-400: #c9b756;
	--color-cornsilk-500: #bfa041;
	--color-cornsilk-600: #a88237;
	--color-cornsilk-700: #8d6330;
	--color-cornsilk-800: #74502c;
	--color-cornsilk-900: #604327;
	--color-cornsilk-950: #362312;

	/*--color-light-bronze-50: #f8f5f2;
	--color-light-bronze-100: #f3ede6;
	--color-light-bronze-200: #ede1d2;
	--color-light-bronze-300: #e6d5c2;
	--color-light-bronze-400: #dec9b3;
	--color-light-bronze-500: #d5baa6;
	--color-light-bronze-600: #c1ab8f;
	--color-light-bronze-700: #ad9c7a;
	--color-light-bronze-800: #998d67;
	--color-light-bronze-900: #867e57;*/
	
	--color-light-bronze-50: #f9f5f3;
    --color-light-bronze-100: #f2eae2;
    --color-light-bronze-200: #e4d2c4;
    --color-light-bronze-300: #d5baa6;
    --color-light-bronze-400: #bf9278;
    --color-light-bronze-500: #b1795e;
    --color-light-bronze-600: #a46752;
    --color-light-bronze-700: #895345;
    --color-light-bronze-800: #6f453d;
    --color-light-bronze-900: #5b3a33;
    --color-light-bronze-950: #301d1a;
}
